
/* * {box-sizing: border-box;}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: bgcolor="#FFFED6";
} */

  table.tip {
  border: 5px solid blue;
  border-collapse: collapse;
  text-align: left;
  width:100%;
  
  }
  td.tip {
    border: 5px solid blue;
    /* width:100%; */
    min-width: 250px;
    vertical-align: text-top;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
  }

  table.center {
    margin-left: auto;
    margin-right: auto;
  }

  .hide{
    display: none;

  }
  
  p {
    font-size: 18pt;
    font-family: "Copperplate";
    line-height: 10%;
    white-space: pre; /* Presurve White Space mostly for the leading spaces */
    /* text-transform: capitalize; */
  }
  
  caption {
    text-align:left;
    font-size: 20pt;
    font-family: "Copperplate";
    color:navy;
    white-space: pre;
    background-color:#DBF0D3;
    /* text-transform: capitalize; */
  }

  caption.ctr {
    text-align:center;
    background-color:#9ac2de;
  }
  
  h1.title {
    text-align: center;
  }
  
  h2 {
    rotate: -90deg;
    white-space: nowrap;
  }

  h3 {
    text-align: center;
  }

  div.list {
    text-align: center;
  }

  ul {
    display: inline-block;
    text-align: left;
  }

  a {
    color:lightseagreen;
    font-size: 18pt;
    font-family: "Copperplate";
    white-space: pre;
  }

  .space {
    padding-bottom: 3cm;
  }
  
  input.btn {
    /*        background: #5E5DF0;*/
    background: darkgreen;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }

  /* Customize the label (the callEntry) */
  .callEntry {
    display: block;
    position: relative;
    font-family: "Copperplate";
    font-size: 18pt;
    padding-left: 20px;
    margin-bottom: 2px;
    cursor: pointer;
  }

  /* Hide the browser's default radio button */
  .callEntry input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 18px;
    background-color: #FFFED6;
    border-radius: 10%;
  }

  /* On mouse-over, add a grey background color */
  .callEntry:hover input ~ .checkmark {
    background-color: #FFFED6;
  }

  /* When the radio button is checked, add a blue background */
  .callEntry input:checked ~ .checkmark {
    background-color: green;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .callEntry input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .callEntry .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: green;
  }